<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% block title %}
Главная страница сайта по математике для средней школы
{% endblock %}


{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/ajax_date.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">

    <style>
    @font-face {
	font-family: Avenir;
	src: url( "{{ url_for('static', filename='AvenirNextCyr-Regular.ttf') }}" );
    }

    .font-base{
    font-family: Avenir !important;
    }
    </style>

</head>
<div>

</div>

{% endblock %}