<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}


{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/ajax_date.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">

    <style>
    @font-face {
	font-family: Avenir;
	src: url( "{{ url_for('static', filename='AvenirNextCyr-Regular.ttf') }}" );
    }

    .font-base{
    font-family: Avenir !important;
    }





    </style>
</head>

<body>
<div style="text-align: center; margin-top: 100px;">
    <h1 class="">Геометрические тела</h1>
</div>
<div class="books_profile border border-2 rounded-3 shadow w-75 p-3 mb-3 bg-body rounded">
    <h2 class="">Прямоугольный параллелепипед</h2>
    <p style="margin: 10px; font-size: 20px;">
        Вокруг нас мы часто встречаем предметы, имеющие форму коробки.
        Они могут быть сделаны из разного материала и окрашены в разные цвета, но по форме они напоминают друг друга:
        коробки, шкафы, здания и т. п.
        Все эти предметы напоминают геометрическое тело — прямоугольный параллелепипед.
        Поверхность его состоит из 6 прямоугольников, которые называются гранями прямоугольного параллелепипеда.
        Две грани называются противоположными, если у них нет общего ребра. Каждые две противолежащие грани равны.
        Грани можно назвать в зависимости от того, как мы видим прямоугольный параллелепипед:
        та грань, которая обращена к нам, называется передней;
        точно такая же грань имеется сзади — это задняя грань;
        боковые грани также являются равными прямоугольниками;
        та грань, которая находится сверху, называется верхней;
        а грань, на которой фигура стоит, называется нижней, или основанием, и эти две грани равны.
        Вершины параллелепипеда — это вершины его граней, рёбра — отрезки, соединяющие вершины параллелепипеда.

    </p>
    <p style="margin: 10px; font-size: 20px;">
        Прямоугольный параллелепипед имеет 8 вершин, 12 рёбер, 6 граней (передняя, задняя, нижняя, верхняя и две
        боковые),
        Измерения прямоугольного параллелепипеда — это его длина, ширина и высота (на нижнем рисунке — красные рёбра с
        общей вершиной).

    </p>
    <p style="margin: 10px; font-size: 20px;">
        Если у прямоугольного параллелепипеда все измерения равны, то он называется кубом. Грани куба — равные квадраты.
    </p>
    <hr class="dropdown-divider">
    <h2 class="">Тест</h2>
    <p class="p_text"><a style="color:black;" href="/tests/5klass/geobody">Задачи на геометрические тела</a></p>
</div>
</body>


{% endblock %}