<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}


{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/ajax_date.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">

    <style>
    @font-face {
	font-family: Avenir;
	src: url( "{{ url_for('static', filename='AvenirNextCyr-Regular.ttf') }}" );
    }

    .font-base{
    font-family: Avenir !important;
    }




    </style>
</head>

<body>
<div style="text-align: center; margin-top: 100px;">
    <h1 class="">Натуральные числа</h1>
</div>
<div class="books_profile border border-2 rounded-3 shadow w-75 p-3 mb-3 bg-body rounded">
    <p style="margin: 10px; font-size: 20px;">
        Целый числа 1,2,3,4,5,6,7,8,9,10,11,12 и т.д., используемые при счете предметов, называют
        натуральными.
    </p>
    <p style="margin: 10px; font-size: 20px;">
        Все натуральные числа, записанные в порядке возрастания, образуют ряд натуральных
        чисел (или натуральный ряд). Первым числом натурального ряда является единица. В
        натуральном ряду за каждым числом следует еще одно число, большее предыдущего на
        единицу. Наибольшего числа нет, поэтому при записи натурального ряда после
        перечисления нескольких чисел ставят многоточие.
        1,2,3,4,5,6,7,8,9,10,11,12,...
    </p>
</div>
</body>


{% endblock %}