<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}


{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/ajax_date.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">

    <style>
    @font-face {
	font-family: Avenir;
	src: url( "{{ url_for('static', filename='AvenirNextCyr-Regular.ttf') }}" );
    }

    .font-base{
    font-family: Avenir !important;
    }




    </style>
</head>

<body>
<div style="text-align: center; margin-top: 100px;">
    <h1 class="">Геометрические фигуры и тела</h1>
</div>
<div class="books_profile border border-2 rounded-3 shadow w-75 p-3 mb-3 bg-body rounded">
  <h2 class="">Начальные понятия и факты курса геометрии</h2>
    <p style="margin: 10px; font-size: 20px;">
Геометрия — одна из самых древних наук, она изучает геометрические формы и способы их измерения. Примерно в третьем тысячелетии до н. э. (где-то 2900 год) египтяне возвели пирамиду, основанием которой был квадрат, а боковые грани представляли собой треугольники. Уже в то время необходимо было делить пахотные территории на участки и замерять площадь обрабатываемой земли для расчёта налога. Также в III тысячелетии до н. э. вавилоняне успешно возводили дома и храмы, защитные сооружения.
Долгое время геометрия существовала исключительно как прикладная дисциплина, набор правил и нужных для работы сведений. Лишь в VI в. до н. э. Фалес Милетский, древнегреческий учёный и мыслитель, заложил основы геометрии как науки в её современном виде.
Всем известен другой древнегреческий учёный — Пифагор, живший примерно в то же время. Он стал первым учёным-математиком, который с помощью логических умозаключений сформировал часть геометрических фактов с опорой на основные принципы.
Евклид Александрийский носит гордое звание «отца современной геометрии», он создал аксиоматический метод и опирался на строгий математический подход — то и другое используется и ныне. Этот выдающийся учёный — автор книги «Начало», она была написана в 300 году до н. э. и по сей день считается самым значимым трудом в области геометрии. Евклид сформулировал 23 определения, 5 постулатов и 5 аксиом. В честь этого учёного наука была названа евклидовой геометрией.
Без определения были введены основные понятия в геометрии: точка, прямая и плоскость. Мы представляем эти фигуры, но для них нет точных объяснений.
Для изучения геометрии необходимо различать разные утверждения.
Аксиома — исходное положение какой-либо теории, принимаемое в рамках данной теории истинным без требования доказательства и используемое при доказательстве других её положений, которые, в свою очередь, называются теоремами.
В геометрии аксиома, например, гласит о том, что через данную точку на плоскости можно провести только одну прямую параллельно данной прямой.
Определение — введение нового понятия или объекта в математическое рассуждение путём комбинации или уточнения элементарных либо ранее определённых понятий. Определения других понятий в геометрии содержат основные понятия.
Если точка и прямая — основные фигуры, то, например, отрезок определяется как часть прямой между двумя данными точками на прямой.
Теорема — утверждение, для которого в рассматриваемой теории существует доказательство.
Теоремы содержат информацию о возможных свойствах геометрических фигур. Их необходимо доказывать, используя аксиомы и прежде доказанные свойства фигур.

</p>
  <h2 class="">Параллельные прямые</h2>
    <p style="margin: 10px; font-size: 20px;">
Две прямые, лежащие на одной плоскости, могут либо пересекаться в одной точке, либо не пересекаться.
Если прямые лежат на одной плоскости и не пересекаются, то их называют параллельными.
Название произошло от греческого слова «параллелос» (παράλληλος), что означает «идущие рядом».
Почему в определении очень важно обозначить, что мы говорим о прямых, лежащих на одной плоскости? Потому что тогда, когда прямые не лежат на одной плоскости, они могут не пересекаться и не быть параллельными, то есть не идти рядом.
Интересный пример получаем, рассматривая прямые на поверхности шара (не на плоскости). Если шар достаточно большой, то в какой-то точке прямые могут выглядеть параллельными, а на самом деле они пересекаются в точках, которые называют полюсами шара.
Но для параллельных прямых, лежащих на одной плоскости, справедливо, что точки пересечения нет.
Обозначение параллельных прямых: AB || CD.
Эту запись читают так: «Прямая АВ параллельна прямой CD».
Если AB || CD, то CD || AB.
Другой способ обозначения параллельных прямых — вместо двух больших букв можно использовать одну маленькую букву и и записать так: a || b.

    </p>
</div>
</body>


{% endblock %}