<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}


{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/ajax_date.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">

    <style>
    @font-face {
	font-family: Avenir;
	src: url( "{{ url_for('static', filename='AvenirNextCyr-Regular.ttf') }}" );
    }

    .font-base{
    font-family: Avenir !important;
    }




    </style>
</head>

<body>
<div style="text-align: center; margin-top: 100px;">
    <h1 class="">Преобразование буквенных выражений</h1>
</div>
<div class="books_profile border border-2 rounded-3 shadow w-75 p-3 mb-3 bg-body rounded">
    <h2 class="">Раскрытие скобок</h2>
    <p style="margin: 10px; font-size: 20px;">
Распределительный закон умножения выполняется для любых чисел.
      </p>
    <p style="margin: 10px; font-size: 20px;">
Пример:
7⋅(x+3)=7x+21;−5⋅(x+3)=−5x−15;−2⋅(x−5)=−2x+10;−2⋅(−x−5)=2x+10.
      </p>
    <p style="margin: 10px; font-size: 20px;">
Раскроем скобки, применяя распределительный закон умножения. Для этого общий множитель нужно умножить на каждое слагаемое в скобках и полученные результаты сложить. Но не всегда перед скобками записан числовой множитель.
(x−3) или −(x−3).
      </p>
    <p style="margin: 10px; font-size: 20px;">
В таких случаях рассуждаем так:
      </p>
    <p style="margin: 10px; font-size: 20px;">
если перед скобками стоит знак «+», это значит, что все слагаемые в скобках надо умножить на 1, т. е., раскрывая скобки, оставить их без изменения;
    </p>
    <p style="margin: 10px; font-size: 20px;">
      если перед скобками стоит знак «−», это значит, что все слагаемые в скобках надо умножить на −1, т. е., раскрывая скобки, изменить знаки слагаемых на противоположные.
    </p>
    <p style="margin: 10px; font-size: 20px;">
      Пример:
(x−3)=1⋅(x−3)=x−3;−(6−x)=−1⋅(6−x)=−6+x.
      </p>
  <h2 class="">Упрощение выражений</h2>
    <p style="margin: 10px; font-size: 20px;">
Переместительное и сочетательное свойства умножения позволяют упрощать выражения.
Пример:
упростим выражение 5a⋅6b⋅(−0,3c).
Умножать можно в любом порядке, поэтому отдельно умножим числа и отдельно сгруппируем буквенные множители. Получим:
5a⋅6b⋅(−0,3c) = 5⋅a⋅6⋅b⋅(−0,3)⋅c = (−0,3⋅5⋅6)⋅(a⋅b⋅c) = −9abc.
Получили выражение, в котором есть только одно число. У такого числа в составе буквенного выражения есть отдельное название.
Числовой коэффициент (или просто коэффициент) — это числовой множитель в буквенном выражении.
Коэффициент обычно пишут первым множителем.
Коэффициентом такого выражения, как a или ab, считают 1,
т. к. a = 1⋅a; ab = 1⋅ab.
При умножении −1 на любое число a получается число −a:
−1⋅a = −a. Поэтому
числовым коэффициентом выражения −a или −ab,  считают число −1.
Пример:
в выражении 3x−5x коэффициенты слагаемых 3 и −5.
Выражение 3x−5x можно упростить, применяя распределительный закон:
3x−5x=(3−5)⋅x=−2x.
Слагаемые 3x и −5x различаются только своими коэффициентами.
Слагаемые, имеющие одинаковую буквенную часть, называют подобными слагаемыми.
Пример:
3x и −5x; 2a и –5a; 13xy и 22xy; –21abc и 13abc.
Подобными слагаемыми считают также числа.
Пример:
3 и −7; −1 и 5.
Чтобы сложить (привести) подобные слагаемые, надо сложить их коэффициенты и результат умножить на общую буквенную часть.
Пример:
2,38x−5,6x = −3,22x; -2/15x − 7/15x = -9/15x = -3/5x.

</p>
  <h2 class="">Решение уравнений</h2>
    <p style="margin: 10px; font-size: 20px;">
Вспомним немного об уравнениях, с которыми встречались в начальных классах и в 5 классе.
Известно, что
уравнение — это выражение, в котором есть знак «равно» и латинская буква, которая обозначает переменную и значение которой надо найти.
Корень уравнения — это число, которое можно подставить вместо буквы и при вычислении получить равенство.
Решить уравнение — это отыскать все такие значения, корни уравнения, или доказать, что корней у уравнения нет.
Пример:
3x−12=6.
Для определения неизвестного уменьшаемого надо к разности прибавить вычитаемое:
3x=6+12;3x=18.
Для определения неизвестного множителя надо произведение разделить на известный множитель:
x=18:3;
x=6.
Пример:
2x−12=6−x.
Можно рассуждать и иначе, решая уравнение.
Здесь мы имеем равенство двух выражений, значит, их разность равна нулю:
(2x−12)−(6−x)=0.
Раскроем скобки и упростим выражение в левой части уравнения:
2x−12−6+x=0;
3x−18=0;
3x=18;
x=6.
Можно заметить, что
для решения уравнения надо последовательно выполнить следующие действия:
1) слагаемые, содержащие переменную, перенести в левую часть уравнения,
а числа — в его правую часть, не забывая при переносе менять знаки на противоположные;
2) привести подобные слагаемые в левой и правой частях уравнения;
3) разделить число в правой части уравнения на коэффициент при переменной.
В рассмотренных примерах
уравнения приводились к виду ax=b, где a≠0.
Уравнение, которое можно привести к такому виду с помощью переноса слагаемых и приведения подобных слагаемых, называют линейным уравнением с одним неизвестным.

</p>
  <h2 class="">Решение задач на составление уравнений</h2>
    <p style="margin: 10px; font-size: 20px;">
Теория:
Умение решать уравнения необходимо для того, чтобы решать какие-то практические задачи по математике, физике, механике, экономике и другим предметам.
Пример:
в одном баке воды было в 4 раза больше, чем в другом. Из первого бака перелили в другой 36 литров и воды в баках стало поровну. Сколько литров воды было в каждом баке?
Решение:
сначала введём переменную, с помощью которой обозначим неизвестную нам величину, которую необходимо найти по условию задачи.
Пусть x л — количество воды, которое было до переливания во втором баке.
Тогда в первом баке её было 4x л.
После переливания в первом баке осталось (4x –36) л воды, а во втором стало (x+36) л.
По условию задачи известно, что после переливания в обоих баках воды стало поровну. Составим уравнение:
4x –36=x+36.
Эту часть рассуждений при решении задач называют составлением математической модели.
На этом этапе текст задачи переводится с обычного языка на математический язык.
Математической моделью является составленное уравнение.
Затем начинается второй этап, называемый работой с математической моделью.
Здесь решается составленное уравнение:
4x−36=x+36;4x−x=36+36;3x=72;x=24.
Решив уравнение, переходим к третьему этапу — ответу на вопрос задачи.
Решив уравнение, получили x=24, а за x принято количество воды в литрах, которое было до переливания во втором баке.
Значит, во втором баке было 24 л воды. По условию задачи в первом баке было в 4 раза больше воды, чем во втором. Значит, в первом баке было:
24⋅4=96 (л).
Ответ: в одном баке было 24 л воды, а в другом баке было 96 л воды.
Таким образом, в ходе решения было выделено три этапа математического моделирования:
1) составление математической модели (составление уравнения по условию задачи);
2) работа с математической моделью (решение уравнения);
3) ответ на вопрос задачи.
Для составления математической модели нужно провести анализ задачи, результаты которого можно оформить в виде таблицы, схемы, рисунка, краткой записи.

</p>
</div>
</body>


{% endblock %}