<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}


{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/ajax_date.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">

    <style>
    @font-face {
	font-family: Avenir;
	src: url( "{{ url_for('static', filename='AvenirNextCyr-Regular.ttf') }}" );
    }

    .font-base{
    font-family: Avenir !important;
    }




    </style>
</head>

<body>
<div style="text-align: center; margin-top: 100px;">
    <h1 class="">Линейные функции</h1>
</div>
<div class="books_profile border border-2 rounded-3 shadow w-75 p-3 mb-3 bg-body rounded">
  <h2 class="">Координатная плоскость</h2>
    <p style="margin: 10px; font-size: 20px;">
Координатная плоскость
Для обозначения числами точного положения точки на плоскости
проведём две перпендикулярные координатные прямые x и y,
которые пересекаются в начале отсчёта — точке O.
Так мы задали на плоскости прямоугольную систему координат,
а плоскость стала координатной плоскостью.
Начало координат — точка O (точка пересечения прямых x и y),
оси координат — координатные прямые x и y,
координатные углы — прямые углы, образованные при пересечении осей координат.
Координатные углы нумеруют против часовой стрелки:



Отметим в прямоугольной системе координат точку M.



Проведём через точку M прямую, параллельную оси y.
Прямая пересечёт ось x в некоторой точке, координата которой равна −2.
Эту координату называют абсциссой точки M.
Далее проведём через точку M прямую, параллельную оси x. Прямая пересечёт ось y в некоторой точке, координата которой равна 3.
Эту координату называют ординатой точки M.
Коротко пишем так: M(x;y).
Эту пару чисел называют координатами точки M.
Абсциссу записываем на первое место, ординату — на второе место.
Имеем M(−2;3).
Число −2 называют абсциссой точки M, а число 3 — ординатой точки M.
Горизонтальную координатную прямую x называют осью абсцисс, или осью x, а
вертикальную координатную прямую y — осью ординат, или осью y.
Координатные углы ещё называют координатными четвертями. Рассмотрим координаты точки M(x;y) в разных четвертях и на осях:
в 1 четверти: x>0;y>0;
во 2 четверти: x<0;y>0;
в 3 четверти: x<0;y<0;
в 4 четверти: x>0;y<0;
на оси x: координата y=0, то есть M(x;0);
на оси y: координата x=0, то есть M(0;y).
Каждой точке на координатной плоскости соответствует пара чисел: её абсцисса и ордината — и наоборот, каждой паре чисел соответствует одна точка плоскости, для которой эти числа являются координатами.
Для построения этой точки, требуется найти точку пересечения прямых x=a и y=b.
Это будет точка M(a;b).
    </p>
<h2 class="">Линейное уравнение с двумя переменными и его график</h2>
    <p style="margin: 10px; font-size: 20px;">
        Уравнение вида ax+by+c=0, где a,b,c — числа (коэффициенты), называется линейным уравнением с двумя переменными x и y.
Решением уравнения ax+by+c=0 является пара чисел (x; y), обращающая данное уравнение в верное равенство.
Пример:
изобрази решения линейного уравнения −x+y−2=0 точками в координатной плоскости xOy.
Несложно подобрать несколько решений: (3;5),(2;4),(1;3),(0;2),(−2;0). Построим эти точки в координатной плоскости и убедимся, что они лежат на одной прямой t.


Прямая t является графиком уравнения −x+y−2=0, или
прямая t является геометрической моделью этого уравнения.
Итак, если пара чисел (x; y) удовлетворяет уравнению ax+by+c=0, то точка М(x; y) принадлежит прямой t.
И обратно, если точка М(x; y) принадлежит прямой t, то пара чисел (x; y) удовлетворяет уравнению ax+by+c=0.
Графиком уравнения ax+by+c=0 является прямая, если коэффициенты a,b не равны нулю одновременно.
Алгоритм построения графика уравнения ax+by+c=0, где a≠0,b≠0.
1. Выбрать любое удобное значение переменной x=x1 и из уравнения ax1+by+c=0 вычислить значение y=y1.
2. Выбрать другое значение переменной x=x2 и из уравнения ax2+by+c=0 вычислить значение y=y2.
3. На координатной плоскости xOy отметить точки:
(x1;y1);(x2;y2).
4. Через эти точки провести прямую — она и будет являться искомым графиком.
Пример:
начертить график уравнения x−2y−4=0.
1. Подставим x=0 в уравнение, получим:
0−2y−4=0;−2y=4;y=4:(−2);y=−2.
2. Подставим в уравнение y=0, получим:
x−2⋅0−4=0;x−4=0;x=4.
3. Отметим полученные точки (0;−2) и (4;0) в прямоугольной системе координат.
4. Проведём через эти точки прямую.


Она и будет графиком линейного уравнения x−2y−4=0.


</p>
</div>
</body>


{% endblock %}