<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}


{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/ajax_date.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">

    <style>
    @font-face {
	font-family: Avenir;
	src: url( "{{ url_for('static', filename='AvenirNextCyr-Regular.ttf') }}" );
    }

    .font-base{
    font-family: Avenir !important;
    }




    </style>
</head>

<body>
<div style="text-align: center; margin-top: 100px;">
    <h1 class="">Математические модели</h1>
</div>
<div class="books_profile border border-2 rounded-3 shadow w-75 p-3 mb-3 bg-body rounded">
  <h2 class="">Что такое математическая модель</h2>
    <p style="margin: 10px; font-size: 20px;">
Математическая модель — это способ описания реальной жизненной ситуации (задачи) с помощью математического языка.
Пусть в трёх зоопарках есть тигры и львы.
В первом зоопарке 14 тигров и 12 львов,
во втором зоопарке 11 тигров и 11 львов,
в третьем зоопарке 8 тигров и 17 львов.
Сколько всего тигров и львов в первом зоопарке?
В первом зоопарке всего 14+12=26 тигров и львов.
Сколько всего тигров и львов во втором зоопарке?
Во втором зоопарке всего 11+11=22 тигра и льва.
Сколько всего тигров и львов в третьем зоопарке?
В третьем зоопарке всего 8+17=25 тигров и львов.
Мы трижды выполняли одинаковую операцию: складывали количество тигров и количество львов.
Используя математический язык, можно все эти три задачи объединить в одну: в зоопарке живут a тигров и b львов. Сколько всего тигров и львов в зоопарке?
Всего тигров и львов a+b. В таком случае говорят, что мы составили математическую модель реальной ситуации.
Ниже даны наборы фактических условий, а также их математические модели, где  a — количество тигров в зоопарке, b — количество львов в том же зоопарке.
•	Тигров и львов одинаковое количество (например, второй зоопарк); a = b
•	Количество львов на 2 меньше, чем количество тигров (например,  первый зоопарк); a –b = 2, или a = b + 2, или a – 2 = b
•	Тигров на 9 меньше, чем львов(например,  третий зоопарк); b –a=9, или b=a+9, или a=b−9
Математическая модель реальной ситуации кроме краткой выразительной записи позволяет решать разные задачи.
Пример:
на первом складе в 4 раза больше тонн сахара, чем на втором. Если перевезти 5 т сахара с первого склада на второй, то на первом складе окажется на 2 т сахара больше. Найди общее количество тонн сахара на двух складах.
Решение:
пусть x т сахара — на втором складе, тогда 4x т сахара — на первом. Если вывезти 5 т сахара, то на первом складе останется (4x−5) т. Если 5 т сахара привезти на второй склад, то на нём будет (x+5) т сахара. В задаче сказано, что на первом складе окажется на 2 т сахара больше. Запишем это на математическом языке: (4x−5)−(x+5)=2.
Полученное уравнение является математической моделью данной задачи. Решим его:
(4x−5)−(x+5)=2;4x−5−x−5=2;3x=12x=4.
Получаем, что на втором складе 4 т сахара, а значит, 16 т сахара на первом, так как его в четыре раза больше.
Ответ: на двух складах всего 20 т сахара.
Можно заметить, что в ходе решения было выделено три этапа рассуждений.
Первый этап. Составление математической модели.
Была введена переменная x, и текст задачи переведён на математический язык, т. е. была составлена математическая модель задачи в виде уравнения (4x−5)−(x+5)=2.
Второй этап. Работа с математической моделью.
Здесь было решено уравнение до простого ответа x=4.
Третий этап. Формулировка ответа на вопрос задачи.
Используя полученное на втором этапе решение, ответили на вопрос задачи.
Такую математическую модель называют алгебраической моделью.
Математические модели задаются:
1) словесно — описываются словами;
2) алгебраически — в виде уравнений, неравенств или систем;
3) графически — в виде графиков;
4) геометрически — с помощью геометрических фигур.
В задаче о массе сахара по словесному описанию мы составили уравнение (алгебраическую модель), а в задании про среднесуточную температуру —  графическую модель.


</p>
</div>
</body>


{% endblock %}