<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}


{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/ajax_date.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">

    <style>
    @font-face {
	font-family: Avenir;
	src: url( "{{ url_for('static', filename='AvenirNextCyr-Regular.ttf') }}" );
    }

    .font-base{
    font-family: Avenir !important;
    }




    </style>
</head>

<body>
<div style="text-align: center; margin-top: 100px;">
    <h1 class="">Алгебраические дроби</h1>
</div>
<div class="books_profile border border-2 rounded-3 shadow w-75 p-3 mb-3 bg-body rounded">
    <h2 class="">Выражения</h2>
    <p style="margin: 10px; font-size: 20px;">
Числовые выражения содержат числа, знаки действий и скобки.
При выполнении действий числового выражения по порядку, можно найти число, называемое значением выражения.
        </p>
    <p style="margin: 10px; font-size: 20px;">
Обрати внимание!
        </p>
    <p style="margin: 10px; font-size: 20px;">
Выражение не имеет значения, если содержит деление на ноль.
        </p>
    <p style="margin: 10px; font-size: 20px;">
У выражения 〖(-3)〗^2+5*0,2 значение равно 10.
        </p>
    <p style="margin: 10px; font-size: 20px;">
У выражения (〖7-(-2)〗^5+(6*4))/0 нет значения.
        </p>
    <p style="margin: 10px; font-size: 20px;">
Если числовое выражение содержит ещё и буквы (или только буквы), обозначающие числа или переменные, то оно называется алгебраическим выражением.
</p>
    <h2 class="">Выражения  алгебраические</h2>
    <p style="margin: 10px; font-size: 20px;">
〖(-3)〗^2+5x; 3a+4b; (2x- 6)/3.
        </p>
    <p style="margin: 10px; font-size: 20px;">
Областью определения выражения с одной переменной называется множество значений переменной, при которых это выражение имеет смысл.
Можно вычислить числовое значение алгебраического выражения при любом значении переменной из его области определения.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Пример:
найди область определения данного алгебраического выражения (x- 3)/(x(x+8)).
</p>
    <p style="margin: 10px; font-size: 20px;">
        Решение: алгебраическая дробь (x- 3)/(x(x+8)) определена при всех значениях переменной x, при которых знаменатель дроби x(x+8) не равен 0. Поэтому, чтобы определить  значения x, которые не принадлежат области определения, необходимо знаменатель x(x+8)приравнять к нулю, т. е. решить уравнение:
x(x+8)=0.
Каждый множитель приравниваем к нулю: x=0 и x+8=0; x=−8.
        </p>
    <p style="margin: 10px; font-size: 20px;">
Ответ: область определения алгебраической дроби — все действительные числа, кроме 0 и −8.
        </p>
    <p style="margin: 10px; font-size: 20px;">
Алгебраические выражения делятся на рациональные и иррациональные, но в данном случае рассматриваются только рациональные выражения.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Алгебраическое выражение, в котором есть сложение, умножение, деление и возведение в степень (натуральное число), называется рациональным алгебраическим выражением.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Если рациональное алгебраическое выражение не содержит операции деления на выражение с переменными, то оно называется целым.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Если при составлении рационального алгебраического выражения используется операция деления на выражение с переменными, то такое выражение называется дробным.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Целые выражения 4-2x; 7y^2 (y-1); 3xy-0,3x^4;   (6y + 3)/3 .
</p>
    <p style="margin: 10px; font-size: 20px;">
        Дробные выражения (y+2)/(y^2-4y+4);  ab-7/(a+b);  x/(x-1)+2/(x^2-1).
</p>
    <p style="margin: 10px; font-size: 20px;">
        Целое рациональное выражение определено при любых значениях переменных.
Дробное рациональное выражение определено при таких значениях переменной, при которых знаменатель дроби не равен нулю.
</p>
    <p style="margin: 10px; font-size: 20px;">
        1) Целое выражение  〖3y〗^2+4y+2 определено при любых значениях переменной y; область определения — все действительные числа.
</p>
    <p style="margin: 10px; font-size: 20px;">
        2) Дробное выражение x+12/(x-8); не имеет смысла, если x=8  (если x=8, то знаменатель x−8=0, а на ноль делить нельзя).
Поэтому область определения дробного выражения x+12/(x-8) — все действительные числа, кроме 8.
Дробное рациональное выражение, числителем и знаменателем которого являются многочлены, называется алгебраической дробью.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Алгебраические дроби x/(x-3); (b-1)/(b+6); (1+x^3)/(x^2+1); (y+2)/(y^2-6y+6)  .
</p>
    <p style="margin: 10px; font-size: 20px;">
        Обрати внимание!
        </p>
    <p style="margin: 10px; font-size: 20px;">
Областью определения алгебраической дроби являются все значения переменной, при которых знаменатель дроби не равен 0.
Любое дробное рациональное выражение можно преобразовать в алгебраическую дробь.

    </p>
    <h2 class="">Дробные выражения</h2>
    <p style="margin: 10px; font-size: 20px;">
Выражения, в которых есть только сложение, вычитание, умножение переменных или возведение их в степень, называются целыми рациональными алгебраическими выражениями.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Пример:
2,6x+5y − z23+3 2,6x+5y-z^2/3.
        </p>
    <p style="margin: 10px; font-size: 20px;">
Заметим, что z^2/3 не является дробным рациональным выражением, т. к. в знаменателе нет переменной.
Выражения, в которых имеется также деление переменных, называются дробными рациональными алгебраическими выражениями.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Пример:
2/x; (4-y)/(z+3); a^3/c; x/(x-5)+x^2/(x+4) — дробные рациональные выражения.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Дробные рациональные выражения имеют область определения со всеми значениями переменных, которые не превращают знаменатель в 0 (т. к. на 0 делить нельзя).
Область определения — это множество, состоящее из всех допустимых значений аргумента.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Есть задачи на нахождение области определения, но при решении дробных рациональных уравнений нужно также обязательно находить область определения.
Пример:
        </p>
    <p style="margin: 10px; font-size: 20px;">
Найди область определения выражения x/(2-x).
        </p>
    <p style="margin: 10px; font-size: 20px;">
Решение: 2−x≠0;−x≠−2;x≠2, значит, при x=2 выражение не имеет смысла.
        </p>
    <p style="margin: 10px; font-size: 20px;">
Ответ: область определения выражения: x∈(−∞;2)∪(2;+∞).

            </p>

</div>
</body>


{% endblock %}