<!doctype html>
<html lang="ru">

{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}


{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/ajax_date.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">

    <style>
    @font-face {
	font-family: Avenir;
	src: url( "{{ url_for('static', filename='AvenirNextCyr-Regular.ttf') }}" );
    }

    .font-base{
    font-family: Avenir !important;
    }




    </style>
</head>

<body>
<div style="text-align: center; margin-top: 100px;">
    <h1 class="">Действильные числа</h1>
</div>
<div class="books_profile border border-2 rounded-3 shadow w-75 p-3 mb-3 bg-body rounded">
    <h2 class="">Некоторые символы математического языка</h2>
    <p style="margin: 10px; font-size: 20px;">
Натуральные числа — это числа, используемые для счёта предметов или для указания порядкового номера того или иного предмета среди однородных предметов.
</p>
    <p style="margin: 10px; font-size: 20px;">N — обозначение множества всех натуральных чисел.
Пример:
        </p>
    <p style="margin: 10px; font-size: 20px;">
1,2,3,4,5...
        </p>
    <p style="margin: 10px; font-size: 20px;">
Z — множество целых чисел. Оно состоит из натуральных чисел, им противоположных и нуля.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Пример:
…,−3,−2,−1,0,1,2,3,…
</p>
    <p style="margin: 10px; font-size: 20px;">
        Q — множество рациональных чисел.
Оно получается из множества целых чисел, если к ним добавить обыкновенные дроби: 13,5152,−85....

</p>
    <p style="margin: 10px; font-size: 20px;">
        Множество Q рациональных чисел — это множество, состоящее из чисел вида m/n; -m/n  (где m, n — натуральные числа) и числа 0.

</p>
    <p style="margin: 10px; font-size: 20px;">
        Очевидно, N — составной компонент множества Z, а  Z — составной компонент множества Q. Обозначается это так: N⊂Z;Z⊂Q.
⊂ — знак включения.
Запись x∈X показывает, что x — элемент множества X.

</p>
    <p style="margin: 10px; font-size: 20px;">Запись A⊂B показывает, что множество A — часть множества B. Говорят: A — подмножество множества B.

</p>
    <p style="margin: 10px; font-size: 20px;">Для записи, что элемент x не принадлежит множеству X или что множество A не является  подмножеством множества B, используют символы принадлежности, перечёркнутые чертой: x∉X,A⊄B.

</p>
    <p style="margin: 10px; font-size: 20px;">Данные математические символы используют для компактной записи верных математических утверждений, называемых истинными высказываниями.
</p>
    <p style="margin: 10px; font-size: 20px;">Пример:
7∈N; 7∈Z; 7∈Q; −5∉N; N⊂Q; Z⊄N; 2∈[1;6]; [1;3]⊂(−2;8).
</p>
    <p style="margin: 10px; font-size: 20px;">Каждое рациональное число может быть записано десятичной дробью (конечной или бесконечной периодической):
722=0,3181818...=0,3(18);4=4,000...=4,(0);7,3777=7,37770000...=7,3777(0).
</p>
    <p style="margin: 10px; font-size: 20px;">Обратное утверждение также верно: каждую бесконечную десятичную периодическую дробь можно записать обыкновенной дробью. Следовательно, любая бесконечная десятичная периодическая дробь является рациональным числом.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Переведём бесконечную десятичную периодическую дробь 4,5(28) в обыкновенную дробь.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Пусть x = 4,5(28), т. е. x = 4,5282828... и т.д.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Сначала нужно передвинуть запятую, чтобы она стояла перед периодом. Для этого число x умножим на 10. Получим 10x=45,282828... и т.д.
Теперь передвинем запятую так, чтобы она стояла после периода. Для этого число x умножим на 1000. Получим 1000x=4528,282828... и т.д.
Вычтем из второго равенства первое равенство.
</p>
    <p style="margin: 10px; font-size: 20px;">
        1000x=4528,282828...; 10x=45,282828...
</p>
    <p style="margin: 10px; font-size: 20px;">
        1000x-10x=990x=4528,282828...- 45,282828...=4483
</p>
    <p style="margin: 10px; font-size: 20px;">
        990x=4483
</p>
    <p style="margin: 10px; font-size: 20px;">
        Отсюда x=4483990=4523990.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Приведём примеры перевода бесконечной десятичной периодической дроби в обыкновенную в сокращённой записи.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Пример:
</p>
    <p style="margin: 10px; font-size: 20px;">
        1,(23)=  (123-1)/99=(122-1)/99=1  23/99 ;
</p>
    <p style="margin: 10px; font-size: 20px;">
        1,5(23)=  (523-5)/990=1  518/990=1  259/495 .
        </p>
    <h2 class="">Иррациональные числа</h2>
    <p style="margin: 10px; font-size: 20px;">
Слово «рациональный» (по-латински ratio — разум ) переводится как «разумный». Соответственно, слово  «иррациональный» означает «неразумный».
Иррациональным числом называют действительное число, которое не является рациональным (его нельзя записать обыкновенной дробью). Иррациональное число — только бесконечная непериодическая дробь.
Если натуральное число n не является точным квадратом, т. е. n≠k2, где k∈Q, то  n−−√ является иррациональным числом.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Пример:
√5=2,23606798... √11=3,31662479...
        </p>
    <p style="margin: 10px; font-size: 20px;">
Число π≈ 3,141592... также является иррациональным. Это доказал в  1766 году немецкий математик И. Ламберт. Интересно, что для этого числа была взята буква греческого алфавита «пи», так как с этой буквы начинается греческое слово периферия — окружность.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Итак,
        </p>
    <p style="margin: 10px; font-size: 20px;">
1. в результате всякого арифметического действия над рациональными числами (помимо деления на 0) получаем рациональное число.
</p>
    <p style="margin: 10px; font-size: 20px;">
        2. Любое арифметическое действие над иррациональными числами может привести в итоге к рациональному или к иррациональному числу.
</p>
    <p style="margin: 10px; font-size: 20px;">
        3. Если в арифметическом действии принимают участие рациональное и иррациональное числа, то в итоге будет иррациональное число (исключение — умножение и деление на 0).
</p>
    <p style="margin: 10px; font-size: 20px;">
        4. Т. к. в результате действий по извлечению корней (квадратного и кубического) из неотрицательного числа получается иррациональное число, определились, что иррациональным выражением считают любое алгебраическое выражение,  где есть действие по извлечению квадратного и кубического корня из переменной.

    </p>
    <h2 class="">Множество действительных чисел</h2>
    <p style="margin: 10px; font-size: 20px;">
Множество рациональных чисел вместе с множеством иррациональных чисел образуют множество действительных чисел, для которого введено обозначение буквой R; другой формат записи множества действительных чисел (−∞;+∞).
Множество действительных чисел описывают следующим образом: данное множество состоит из конечных и бесконечных десятичных дробей; где рациональные числа представлены в виде конечных десятичных дробей и бесконечных десятичных периодических дробей, а иррациональные числа представлены в виде бесконечных десятичных непериодических дробей.
Геометрической моделью множества действительных чисел является координатная прямая; именно поэтому, её часто называют числовой прямой.
</p>
    <p style="margin: 10px; font-size: 20px;">
Для действительных чисел n, m, k выполняются законы сложения и умножения:
</p>
    <p style="margin: 10px; font-size: 20px;">
n+m=m+n; nm=mn; n+(m+k)=(n+m)+k; n(mk)=(nm)k; (n+m)k=nk+mkи т.д.
</p>
    <p style="margin: 10px; font-size: 20px;">
Справедливы знакомые нам правила:
        </p>
    <p style="margin: 10px; font-size: 20px;">
- произведение (частное) двух положительных чисел — положительное число;
</p>
    <p style="margin: 10px; font-size: 20px;">
        - произведение (частное) двух отрицательных чисел — положительное число;
</p>
    <p style="margin: 10px; font-size: 20px;">
        - произведение (частное) чисел разных знаков — отрицательное число.
</p>
    <p style="margin: 10px; font-size: 20px;">
        При сравнении действительных чисел используют следующее определение.

</p>
    <p style="margin: 10px; font-size: 20px;">
        Действительное число n больше действительного числа m, если их разность n−m — положительное число. Пишут: n > m.
</p>
    <p style="margin: 10px; font-size: 20px;">
        Действительное число n меньше действительного числа m, если их разность n−m — отрицательное число. Пишут: n < m.
</p>
    <p style="margin: 10px; font-size: 20px;">
        С помощью координатной прямой значительно проще и очевиднее процесс сравнения чисел: число, которое расположено правее, больше.
</p>
</div>
</body>


{% endblock %}