<!doctype html>
<html lang="ru">

{% extends 'base_admin.html' %}

{% block title %}
Админка
{% endblock %}


{% block body %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/ajax_date.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">

    <style>
    @font-face {
	font-family: Avenir;
	src: url( "{{ url_for('static', filename='AvenirNextCyr-Regular.ttf') }}" );
    }

    .font-base{
    font-family: Avenir !important;
    }















    </style>

</head>

<body>
<div style="text-align: center; margin-top: 100px;">
    <img class="text-align: center;" src="{{ url_for('static', filename='monkey.gif') }}" alt="404">
    <h1 style="color: black;">Чекайте шапку</h1>
    <h3>Новых пользователей за сутки {{new_users}}</h3>
    <h3>Пройдено тестов за сутки {{day_tests}}</h3>
    <h3>Неотвеченных комментариев {{unreplied}}</h3>
</div>
</body>


{% endblock %}