<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block body %}
<head>
    <title>Quiz</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/app.css') }}">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</head>
<body>
<div class="wrapper">
    <main class="main">
        <div class="quiz__head">
            <div id="name">Название</div>
            <div class="head__content" id="head">
            </div>
        </div>
        <div class="quiz__body">
            <div class="buttons">
                <div class="buttons__content" id="buttons">
                    <button class="button">Default button</button>
                    <br>
                    <button class="button button_wrong">Wrong answer</button>
                    <br>
                    <button class="button button_correct">Correct answer</button>
                    <br>
                    <button class="button button_passive">Unclicked button</button>
                    <br>
                </div>
            </div>

            <div class="quiz__footer">
                <div class="footer__content" id="pages">0 / 0</div>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript">
            var questions_json = {{questions_json | tojson | safe}}

</script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/test.js') }}">
</script>

</body>
{% endblock %}
</html>